@use './mixins' as mixin;

.b1 {
    background-color: red;
    border:1px solid red;
}

.b2 {
    background-color: green;
    border:1px solid green;
}

.b3 {
    background-color: blue;
    border:1px solid blue;
}

.b4 {
    background-color: purple;
    border:1px solid purple;
}

.br {
    @include mixin.xs {
        background-color: red;
        border:1px solid red;
    }
    @include mixin.sm {
        background-color: green;
        border:1px solid green;
    }
    @include mixin.md {
        background-color: blue;
        border:1px solid blue;
    }
    @include mixin.lg {
        background-color: orange;
        border:1px solid orange;
    }
    @include mixin.xl {
        background-color: purple;
        border:1px solid purple;
    }
}